/*Hero*/
.hero {
    width: 100%;
    z-index: 1;
}

.hero .background {
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--color-skeleton);
}

.hero .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .background .hero-left-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: var(--hero-left-gradient);
    opacity: 1;
}
.hero .background .hero-bottom-gradient {
    position: absolute;
    bottom: -10px;
    top: auto;
    width: 100%;
    height: 15vw;
    background-color: transparent;
    background-image: var(--hero-bottom-gradient);
    opacity: 1;
}

@media (max-width: 379px) {
    .hero {
        height: 200px;
    }
    .hero .background {
        height: 250px;
    }
    .hero .background .hero-left-gradient {
        right: 0;
    }
}

@media (min-width: 380px) {
    .hero {
        padding-bottom: 40%;
        margin-bottom: 20px;
    }
    .hero .background {
        height: 56vw;
    }
    .hero .background .hero-left-gradient {
        right: 26%;
    }
}

.hero .info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--header-min-height);
    bottom: 0;
    left: 4%;
    height: min-content;
}

.hero .info::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

@media (hover: hover) and (pointer: fine) {
    .hero .info .logo img {
        transition: transform 300ms ease-out;
    }
    .hero .info:hover .logo :is(h2,img){
        transform: scale(1.06);
    }
}

.hero .info .logo {
    display: flex;
    align-items: flex-end;
    max-width: 500px;
    min-height: 15vw;
}
.hero .info .logo h2 {
    position: absolute;
    text-align: start;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.hero .info .description {
    margin-top: 10px;
    font-size: var(--font-size);
    text-align: left;
}

@media (max-width: 880px) {
    .hero .info .description {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

@media (min-width: 381px) and (max-width: 880px) {
    .hero .info .logo img {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .hero .info {
        right: 4%;
    }
    .hero .info .logo img {
        max-width: 170px;
    }
}

@media (min-width: 381px) and (max-width: 1440px) {
    .hero .info {
        width: 35vw;
    }
    .hero .info img {
        width: 30vw;
    }
}

@media (min-width: 1441px) {
    .hero .info {
        width: 30vw;
    }
    .hero .info img {
        width: 25vw;
    }
}
