.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content>.title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    margin-top: var(--header-min-height);
}

.no-content[data-display="1"] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.view {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin-bottom: 40px;
}

.view :is(.item, .skeleton){
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    width: var(--item-width);
    height: var(--item-height);
    border-radius: var(--bradius-3);
}

.view .skeleton {
    background: var(--color-skeleton);
}

.view .item {
    background-color: var(--color-loading);
}

.view .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 2;
}

.view .item h3 {
    position: absolute;
    font-size: 1.4rem;
    padding: 0 10px;
    transition: opacity 300ms ease-out;
    z-index: 1;
}

.view .item img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.icon-video {
    position: absolute;
    width: 50%;
    inset: 0;
    margin: auto;
    opacity: 0.2;
    transform: rotate(-25deg);
    z-index: 0;
}

@media (hover: hover) and (pointer: fine) {
    .view .item {
        transition: transform 300ms ease-out;
    }
    .view .item:hover {
        transform: scale(1.06);
        z-index: 2;
    }
}

@media screen and (min-width: 1200px) {
    .main-content>.title {
        font-size: 1.6vw;
    }
}

@media screen and (min-width: 640px) and (max-width: 1799px) {
    :is(.view, .main-content>.title) {
        padding-inline: 30px;
    }
}
@media screen and (max-width: 639px) {
    :is(.view, .main-content>.title) {
        padding-inline: 10px;
    }
}

@media (min-width: 1800px) {
    .view {
        --item-width: 16.22%;
        --item-height: 8.2vw;
        gap: 0.5vw;
        padding-inline: 50px;
    }
    .main-content>.title {
        padding-inline: 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .view {
        --item-width: 19.14%;
        --item-height: 10vw;
        gap: 1vw;
    }
}

@media (min-width: 880px) and (max-width: 1199px) {
    .view {
        --item-width: 24.18%;
        --item-height: 12.7vw;
        gap: 1vw;
    }
}

@media (min-width: 640px) and (max-width: 879px) {
    .view {
        --item-width: 32.58%;
        --item-height: 16.2vw;
        gap: 1vw;
    }
}

@media (max-width: 639px) and (min-width: 380px) {
    .view {
        --item-width: 49.1%;
        --item-height: 25.5vw;
        gap: 1.5vw;
    }
}

@media (max-width: 379px) {
    .view {
        --item-width: 100%;
        --item-height: 100%;
        gap: 10px;
    }
}
